include *.txt
include README.md
recursive-include wsk_tutorial/static *
recursive-include wsk_tutorial/templates *

recursive-include dockerfile_tutorial/static *
recursive-include dockerfile_tutorial/templates *

recursive-include advanced_tutorial/static *
recursive-include advanced_tutorial/templates *
